# Core Framework
fastapi
uvicorn[standard]

# Database
sqlalchemy
pymysql
cryptography

# Data Validation & Config
pydantic
pydantic-settings
python-dotenv

# Background tasks / scheduling
apscheduler

# Server
gunicorn

# Utils
python-multipart
